@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.btn {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  padding: 0 50px;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: linear-gradient(170deg, #FF79DA, #a978e3);
  border-radius: 30px;
  border: none;
  box-shadow: 0 3px 7px #b5b5b5;
}
@media screen and (max-width: 600px) {
  .btn {
    font-size: 0.9rem;
  }
}
.btn a {
  color: #fff;
}
.btn--explore {
  padding: 15px 25px;
}
.btn:hover {
  transform: scale(1.1);
}

.loader {
  position: fixed;
  background: #fff;
  height: 100vh;
  z-index: 998;
  inset: 0;
  opacity: 0.8;
  animation: loader 5s;
  animation-fill-mode: forwards;
}
.loader i {
  display: flex;
  position: relative;
  justify-content: center;
  top: 30%;
  font-size: 8rem;
  color: #9356DC;
  animation: spin 10s linear;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.container {
  max-width: 1850px;
  margin: auto;
}

.header_home {
  height: 60px;
  margin-top: 20px;
  border-bottom: 2px solid #cccccc;
}
.header_home img {
  display: flex;
  margin: auto;
  height: 40px;
  align-items: center;
}

.header_page {
  height: 60px;
  margin-top: 20px;
}
.header_page i {
  position: absolute;
  color: #4f4f4f;
  top: 25px;
  font-size: 30px;
  margin-left: 30px;
}
.header_page img {
  display: flex;
  margin: auto;
  height: 40px;
  align-items: center;
}

footer {
  background: #363636;
  color: #fff;
  padding: 20px 25px 30px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 13px;
  font-size: 1.1rem;
}
footer a {
  color: #fff;
  line-height: 1.7rem;
}
footer a i {
  font-size: 0.8rem;
  width: 9px;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  footer h3 {
    font-size: 1.3rem;
  }
  footer a {
    font-size: 1.1rem;
  }
  footer a i {
    font-size: 1rem;
  }
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #ebebeb;
}
.location p {
  font-size: 1.3rem;
  font-weight: 600;
}
.location i {
  margin-right: 10px;
  font-size: 20px;
}

.presentation {
  padding: 50px;
  background: #F5F5F5;
}
.presentation h1 {
  text-align: center;
}
.presentation p {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: #5c5c5c;
}

.btn_presentation {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.functioning {
  padding: 50px;
}
.functioning h2 {
  display: flex;
  font-size: 2rem;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .functioning h2 {
    justify-content: flex-start;
    font-size: 1.8rem;
    margin-left: -2rem;
  }
}
.functioning_list {
  display: flex;
  padding: 30px 0 0 0;
}
@media screen and (max-width: 1024px) {
  .functioning_list {
    flex-direction: column;
    align-items: center;
  }
}
.functioning_tab {
  display: flex;
  background: #F5F5F5;
  border-radius: 2rem;
  padding: 25px;
  margin: 1rem;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 3px 7px #b5b5b5;
}
.functioning_tab:hover {
  background-color: #e9ddf8;
}
.functioning_tab:hover i {
  color: #9356DC;
}
.functioning_number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #9356DC;
  right: 40px;
  height: 30px;
  width: 30px;
  border-radius: 1rem;
}
.functioning_text {
  position: relative;
  display: flex;
  align-items: center;
  right: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .functioning_text {
    font-size: 1rem;
  }
}
.functioning i {
  margin-right: 1rem;
  color: #5c5c5c;
  font-size: 1.3rem;
}

.restaurant {
  padding: 50px 0 50px 0;
  background: #F5F5F5;
}
@media screen and (max-width: 1024px) {
  .restaurant {
    padding: 20px;
  }
}
.restaurant h2 {
  display: flex;
  font-size: 1.9rem;
  justify-content: center;
  margin-bottom: 0.9rem;
}
@media screen and (max-width: 1024px) {
  .restaurant h2 {
    justify-content: flex-start;
    font-size: 1.8rem;
    margin-left: 1rem;
  }
}
.restaurant_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.restaurant_tab {
  position: relative;
  margin: 0.8rem;
  width: 47.5%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 3px 7px #b5b5b5;
}
@media screen and (max-width: 1024px) {
  .restaurant_tab {
    width: 100%;
  }
}
.restaurant img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
@media screen and (max-width: 600px) {
  .restaurant img {
    height: 150px;
  }
}
.restaurant_tab--content {
  margin: 1rem 0 1rem 2rem;
}
.restaurant_tab--content h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.restaurant_tab--content p {
  font-weight: 300;
  font-size: 1rem;
}
.restaurant_tab--content span {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px;
  background: #99E2D0;
  color: #32b091;
  border-radius: 1px;
  font-weight: 500;
  font-size: 0.9rem;
}
.restaurant_tab--heart {
  position: absolute;
  right: 35px;
  bottom: 35px;
}
.restaurant_tab--heart .far.fa-heart {
  position: relative;
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 250ms 50ms ease;
}
.restaurant_tab--heart .far.fa-heart:hover {
  color: transparent;
}
.restaurant_tab--heart .far.fa-heart:hover > .fas.fa-heart {
  transform: scale(1);
}
.restaurant_tab--heart .fas.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 200ms 50ms ease-in-out;
}
@media screen and (max-width: 600px) {
  .restaurant_tab--heart {
    right: 20px;
    bottom: 35px;
  }
}

.menu_img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .menu_img img {
    height: 250px;
  }
}

.menu_head {
  position: relative;
  border-radius: 2rem 2rem 0 0;
  padding: 30px 20px 50px;
  background-color: #F5F5F5;
  top: -30px;
}
.menu_head h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 500;
}
.menu_head--content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.menu_head--content .far.fa-heart {
  position: relative;
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 250ms 50ms ease;
}
.menu_head--content .far.fa-heart:hover {
  color: transparent;
}
.menu_head--content .far.fa-heart:hover > .fas.fa-heart {
  transform: scale(1);
}
.menu_head--content .fas.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 200ms 50ms ease-in-out;
}

.menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .menu {
    flex-direction: column;
  }
}
.menu_list {
  width: 100%;
}
.menu_list .title {
  margin: 20px 0 20px 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.menu_list .title::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.menu_tab {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: #fff;
  width: 95%;
  margin: 0 0 20px 0;
  border-radius: 1rem;
  overflow: hidden;
  height: 65px;
  cursor: pointer;
  animation: menu 1s;
  animation-fill-mode: both;
  box-shadow: 0 3px 7px #b5b5b5;
}
.menu_tab:nth-child(2) {
  animation-delay: 200ms;
}
.menu_tab:nth-child(3) {
  animation-delay: 300ms;
}
.menu_tab:nth-child(4) {
  animation-delay: 400ms;
}
@media screen and (max-width: 1024px) {
  .menu_tab {
    width: 100%;
  }
}
.menu_text {
  padding: 15px 0 15px 14px;
  justify-content: space-between;
  transform: scaleX(1);
  transform-origin: left;
  transition: width 250ms 100ms linear;
}
.menu_text h3 {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.menu_text p {
  margin: 0;
  font-weight: 300;
  font-size: 0.95rem;
}
.menu_price {
  color: #363636;
  font-weight: 700;
  position: absolute;
  right: 40px;
  bottom: 15px;
  transform-origin: right;
  transition: transform 300ms 100ms linear;
}
.menu .animation {
  display: flex;
  background-color: #99E2D0;
  width: 72px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms 150ms linear;
}
.menu .animation .anim_icon {
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  transform: rotate(0deg);
  transition: transform 500ms 100ms linear;
}

.menu_tab:hover .menu_text {
  width: 50%;
}
.menu_tab:hover .menu_text h3, .menu_tab:hover .menu_text p {
  animation: ellipse 0.8s forwards;
  overflow: hidden;
  white-space: nowrap;
}
.menu_tab:hover .animation {
  transform: scaleX(1);
}
.menu_tab:hover .anim_icon {
  transform: rotate(360deg);
}
.menu_tab:hover .menu_price {
  transform: translateX(-70px);
}

.com {
  position: relative;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes menu {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes ellipse {
  to {
    text-overflow: ellipsis;
  }
}

/*# sourceMappingURL=style.css.map */
