.location {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: darken($gray, 4%);
    p{
        font-size: 1.5rem;
        font-weight: 700;
    }
    i {
        margin-right: 10px;
        font-size: 20px;
    }
}

.presentation {
    height: 300px;
    background: $gray;
    h1{
        text-align: center;
        padding: 50px;
    }
    p{
        text-align: center;
        margin-top: -20px;
        font-size: 1.2rem;
        color: darken($gray, 60%);
    }
    a{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}