@mixin shadow($color: darken($gray, 25%)) {
    box-shadow: 0 3px 7px $color;
}

@mixin container {
    max-width: 1850px;
    margin: auto;
}

@mixin breakpoints($version) {
    @media screen and (max-width: map-get($breakpoints, $version)){
        @content;
    }
}